.container {
 padding: 0 2rem;
 /* height: 100vh; */
}

.header {
 padding: 0 2rem;
 margin-bottom: 2rem;
 display: flex;
 flex: 1;
 padding: 1rem 0;
 border-bottom: 1px solid #eaeaea;
 justify-content: center;
 align-items: center;
}

.header a {
 display: flex;
 float: right;
 justify-content: right;
 align-items: center;
 flex-grow: 1;
}

.sns {
 margin-left: auto;
 /* margin: auto 0em auto auto; */
 padding: 0 1em;
 justify-items: right;
 transition: color 0.15s ease, border-color 0.15s ease;
}

.logo {
 /* height: 1em; */
 float: right;
 margin-left: 0.5rem;
 padding: 0 0.5rem;
 align-items: center;
}

.sitetitle {
 padding: 0 2rem;
 font-weight: 10;
 font-size: 2em;
}

.footer {
 display: flex;
 flex: 1;
 margin-top: 2rem;
 padding: 1rem 0;
 border-top: 1px solid #eaeaea;
 justify-content: center;
 align-items: center;
}

.footer a {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-grow: 1;
}
